@import url("../layout/2-sidebars.css");

/* Generic Layout */

/* Sidebar */
.generic-layout__sidebar {
  padding-block: 2rem;
}

/* Content */
.generic-layout__content {
  padding-block: 2rem;
}

/* TOC */
.generic-layout__toc {
  padding-block: 2rem;
}
