/* Print styles for Observatory Results */
@media print {
  /* Basic print color adjustment */
  * {
    print-color-adjust: exact;
  }

  /* Reset margins and paddings for cleaner layout */
  body {
    padding: 0;
    margin: 0;

    font-size: 11pt;

    line-height: 1.4;
  }

  .observatory-results-wrapper {
    background-color: white !important;
  }

  .observatory-results {
    grid-area: full;
  }

  /* Hide non-essential elements */
  .observatory-results-toc,
  .actions,
  .rescan-button,
  .page_layout__banner,
  .page-layout__header,
  .button-wrap {
    display: none !important;
  }
}
