.table-container {
  margin: 0;
  overflow-x: auto;
}

.sticky-table-header {
  position: fixed;
  z-index: calc(var(--z-index-sidebar-mobile) - 1);

  overflow: hidden;

  pointer-events: none;

  > table {
    margin: 0;
    table-layout: fixed;
  }
}

@media print {
  .sticky-table-header {
    display: none;
  }
}
