.external {
  &::after {
    padding-right: 1em;
    margin-left: 0.125em;

    text-wrap: nowrap;

    /*
      Unicode zero width space as `<content replacement>` to expose the alt text in the a11y tree.
      See: https://bugzilla.mozilla.org/show_bug.cgi?id=1976574
    */
    content: "\200b" / " (external)";

    background-color: currentcolor;

    mask-image: url("../icon/external-link.svg");
    mask-repeat: no-repeat;
    mask-position: left 0.1em;
    mask-size: contain;
  }
}
