.site-search {
  display: grid;
  grid-template-columns: var(--layout-1-sidebar-right);
  padding-inline: var(--layout-side-padding);

  @media (--screen-layout-no-sidebar) {
    grid-template-columns: var(--layout-no-sidebar);
  }

  h1,
  mdn-site-search {
    grid-column: content;
  }

  /* Same as: `.not-found h1` */
  h1 {
    margin-top: 0;

    font-size: var(--font-size-largest);
    font-weight: normal;

    line-height: var(--font-line-content);
  }
}
