.homepage {
  display: grid;
  grid-template-columns: var(--layout-no-sidebar-extended);

  > * {
    grid-column: content;
  }

  &.homepage--dark {
    color: var(--color-text-primary);
    color-scheme: dark;
    background-color: var(--color-background-primary);
  }

  mdn-placement-hp-main {
    grid-column: full;
  }

  .homepage-section {
    h2 {
      font-size: var(--font-size-large);
      font-weight: 500;
    }
  }
}

.homepage__header {
  display: flex;
  flex-direction: row;
  grid-column-end: full-end; /* Make space for Mandala. */

  .homepage__header-start {
    flex: 2 0;
  }

  .homepage__header--end {
    flex: 0 1;
  }

  .mandala svg {
    width: 18rem;
    height: 100%;
  }
}

@media (--screen-medium-and-narrower) {
  .homepage__header--end {
    display: none;
  }
}
