@import url("../definition-list/index.css");
@import url("../formal-definition/index.css");
@import url("../formal-syntax/index.css");
@import url("../prev-next/index.css");

/* Reference Layout */

.reference-layout {
  display: grid;

  grid-template-areas:
    "sidebar header toc"
    "sidebar body   toc";
  grid-template-rows: min-content auto;
  grid-template-columns: var(--layout-3-col);

  column-gap: 1rem;

  padding-inline: var(--layout-side-padding);

  .reference-layout__content {
    display: contents;
  }

  .reference-layout__content__header {
    grid-area: header;

    h1 {
      margin-top: 0;

      font-size: var(--font-size-largest);
      font-weight: normal;

      line-height: var(--font-line-content);
    }
  }

  .reference-layout__content__body {
    grid-area: body;
  }

  .reference-layout__sidebar {
    grid-area: sidebar;

    .left-sidebar {
      padding-block: 1rem;
    }
  }

  .reference-layout__toc {
    display: flex;

    flex-wrap: wrap;

    grid-area: toc;

    align-content: start;
    align-items: start;
    justify-content: space-between;
  }

  .reference-layout__sidebar .left-sidebar,
  .reference-layout__toc {
    position: sticky;
    top: var(--sticky-header-height);

    max-height: calc(100vh - var(--sticky-header-height));

    overflow-y: auto;
  }

  @media (width < 1200px) {
    grid-template-areas:
      "toc header header"
      "toc body   body";

    .reference-layout__sidebar {
      z-index: 1;

      display: none;

      grid-area: toc;

      background: var(--color-background-primary);
    }
  }

  @media (width < 769px) {
    display: block;

    .reference-layout__sidebar {
      position: fixed;
      inset: 0;
      top: var(--sticky-header-height);
      z-index: var(--z-index-sidebar-mobile);

      .left-sidebar {
        padding: 1rem;
      }
    }

    .reference-layout__toc {
      position: unset;
      top: unset;

      max-height: unset;

      overflow-y: unset;
      --toc-header-font-size: var(--font-size-larger);
    }
  }
}
