:host {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;

  width: 100%;

  margin: 0;

  overflow: auto;

  font-size: var(--font-size-small);

  background-color: var(--color-background-secondary);
}

ul {
  padding-left: 1rem;
  margin: 0;
}

li::marker {
  content: "> ";
}

pre {
  margin: 0;
  font-family: var(--font-family-code);
  tab-size: 4;
}
