/* HTML */

html {
  scroll-behavior: smooth;

  font-family: var(--font-family-text);
  font-size: var(--font-size-normal);
  font-feature-settings: "calt" 0;
  font-variant-alternates: styleset(disambiguation);

  line-height: var(--font-line-normal);

  color: var(--color-text-primary);

  overflow-wrap: break-word;

  color-scheme: light dark;

  background-color: var(--color-background-page);

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}
