name: Build Reusable Workflow

on:
  workflow_call:
    inputs:
      partial:
        description: "Run a partial build (for PRs) instead of a full build"
        type: boolean
        default: false
    outputs:
      artifact-name:
        description: "Name of the uploaded build artifact"
        value: ${{ jobs.build.outputs.artifact-name }}

permissions:
  contents: read

env:
  BUILD_OUT_ROOT: ${{ github.workspace }}/mdn/fred/out

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      artifact-name: ${{ steps.set-artifact-name.outputs.name }}

    steps:
      - name: Setup privileged build
        id: privileged
        if: ${{ github.secret_source == 'Actions' }}
        env:
          BLOG_ROOT: ${{ github.workspace }}/mdn/blog/content/posts
          BLOG_PAGINATION: true
        run: |
          echo "BLOG_ROOT=$BLOG_ROOT" >> "$GITHUB_OUTPUT"
          echo "BLOG_PAGINATION=$BLOG_PAGINATION" >> "$GITHUB_OUTPUT"

      - name: Checkout (fred)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: mdn/fred
          persist-credentials: false

      - name: Checkout (content)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/content
          path: mdn/content
          persist-credentials: false

      - name: Checkout (translated-content)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/translated-content
          path: mdn/translated-content
          persist-credentials: false

      - name: Checkout (curriculum)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/curriculum
          path: mdn/curriculum
          persist-credentials: false

      - name: Checkout (blog)
        if: ${{ steps.privileged.conclusion.success }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/blog
          path: mdn/blog
          lfs: true
          token: ${{ secrets.MDN_STUDIO_PAT }}
          persist-credentials: false

      - name: Checkout (generic-content)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/generic-content
          path: mdn/generic-content
          persist-credentials: false

      - name: Checkout (mdn-contributor-spotlight)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/mdn-contributor-spotlight
          path: mdn/mdn-contributor-spotlight
          persist-credentials: false

      - name: Setup (fred)
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: "mdn/fred/.nvmrc"
          cache: npm
          cache-dependency-path: "mdn/fred/package-lock.json"

      - name: Install (fred)
        working-directory: mdn/fred
        run: npm ci
        env:
          # Increase GitHub API limit.
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build (fred)
        working-directory: mdn/fred
        env:
          FRED_GA_ENABLED: true
          FRED_GA_MEASUREMENT_ID: G-ZG5HNVZRY0
          FRED_GLEAN_ENABLED: true
          FRED_GLEAN_CHANNEL: review
          FRED_PLAYGROUND_BASE_HOST: mdnyalp.dev
          FRED_ROBOTS_GLOBAL_ALLOW: false
          FRED_BCD_BASE_URL: https://bcd.developer.allizom.org
          FRED_OBSERVATORY_API_URL: https://observatory-api.mdn.allizom.net
          REACT_APP_FXA_SETTINGS_URL: https://accounts.stage.mozaws.net/settings/
          REACT_APP_MDN_PLUS_SUBSCRIBE_URL_SP3_BASE: https://payments-next.allizom.org
          REACT_APP_MDN_PLUS_5M_SP3_ID: mdnplus5mstage
          REACT_APP_MDN_PLUS_5Y_SP3_ID: mdnplus5ystage
          REACT_APP_MDN_PLUS_10M_SP3_ID: mdnsupporter10mstage
          REACT_APP_MDN_PLUS_10Y_SP3_ID: mdnsupporter10ystage
          REACT_APP_GLEAN_CHANNEL: review
          REACT_APP_GLEAN_ENABLED: true
          REACT_APP_UPDATES_BASE_URL: https://updates.developer.allizom.org
        run: npm run build

      - name: Build (rari)
        working-directory: mdn/fred
        env:
          CONTENT_ROOT: ${{ github.workspace }}/mdn/content/files
          CONTENT_TRANSLATED_ROOT: ${{ github.workspace }}/mdn/translated-content/files
          CONTRIBUTOR_SPOTLIGHT_ROOT: ${{ github.workspace }}/mdn/mdn-contributor-spotlight/contributors
          BLOG_ROOT: ${{ steps.privileged.outputs.BLOG_ROOT }}

          CURRICULUM_ROOT: ${{ github.workspace }}/mdn/curriculum
          GENERIC_CONTENT_ROOT: ${{ github.workspace }}/mdn/generic-content/files

          LIVE_SAMPLES_BASE_URL: https://live.mdnyalp.dev
          INTERACTIVE_EXAMPLES_BASE_URL: https://interactive-examples.mdn.allizom.net

          ADDITIONAL_LOCALES_FOR_GENERICS_AND_SPAS: de

          BLOG_PAGINATION: ${{ steps.privileged.outputs.BLOG_PAGINATION }}

          # Increase GitHub API limit.
          GITHUB_TOKEN: ${{ github.token }}

          PARTIAL_BUILD: ${{ inputs.partial }}
          FILE_LIST: ${{ github.workspace }}/files.txt
        run: |
          set -eo pipefail

          npm run rari git-history

          if [ "$PARTIAL_BUILD" = "true" ]; then
            # Partial build.
            find $CONTENT_ROOT -maxdepth 4 ! -path "*/en-us/glossary/*" -type f -name 'index.md' >> "$FILE_LIST"
            find $CONTENT_ROOT -path '*/en-us/glossary/index.md' \
              -o -path '*/en-us/learn_web_development/core/css_layout/flexbox/index.md' \
              -o -path '*/en-us/learn_web_development/core/css_layout/index.md' \
              -o -path '*/en-us/learn_web_development/core/scripting/index.md' \
              -o -path '*/en-us/learn_web_development/core/structuring_content/basic_html_syntax/index.md' \
              -o -path '*/en-us/learn_web_development/core/structuring_content/html_video_and_audio/index.md' \
              -o -path '*/en-us/learn_web_development/core/structuring_content/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/box_model/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/getting_started/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/what_is_css/index.md' \
              -o -path '*/en-us/learn_web_development/extensions/advanced_javascript_objects/index.md' \
              -o -path '*/en-us/learn_web_development/howto/solve_html_problems/use_data_attributes/index.md' \
              -o -path '*/en-us/learn_web_development/howto/solve_html_problems/use_javascript_within_a_webpage/index.md' \
              -o -path '*/en-us/mozilla/add-ons/webextensions/index.md' \
              -o -path '*/en-us/web/api/canvas_api/index.md' \
              -o -path '*/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md' \
              -o -path '*/en-us/web/api/contactsmanager/index.md' \
              -o -path '*/en-us/web/api/fetch_api/index.md' \
              -o -path '*/en-us/web/api/fetch_api/using_fetch/index.md' \
              -o -path '*/en-us/web/api/file_system_api/index.md' \
              -o -path '*/en-us/web/api/geolocation_api/index.md' \
              -o -path '*/en-us/web/api/history_api/working_with_the_history_api/index.md' \
              -o -path '*/en-us/web/api/html_dom_api/index.md' \
              -o -path '*/en-us/web/api/performance/index.md' \
              -o -path '*/en-us/web/api/push_api/index.md' \
              -o -path '*/en-us/web/api/service_worker_api/index.md' \
              -o -path '*/en-us/web/api/view_transition_api/index.md' \
              -o -path '*/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md' \
              -o -path '*/en-us/web/api/web_audio_api/using_web_audio_api/index.md' \
              -o -path '*/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md' \
              -o -path '*/en-us/web/api/web_workers_api/using_web_workers/index.md' \
              -o -path '*/en-us/web/api/window/index.md' \
              -o -path '*/en-us/web/api/window/innerwidth/index.md' \
              -o -path '*/en-us/web/css/guides/animations/using/index.md' \
              -o -path '*/en-us/web/css/guides/backgrounds_and_borders/border-image_generator/index.md' \
              -o -path '*/en-us/web/css/guides/backgrounds_and_borders/border-radius_generator/index.md' \
              -o -path '*/en-us/web/css/guides/backgrounds_and_borders/box-shadow_generator/index.md' \
              -o -path '*/en-us/web/css/guides/box_model/introduction/index.md' \
              -o -path '*/en-us/web/css/guides/colors/applying_color/index.md' \
              -o -path '*/en-us/web/css/guides/colors/index.md' \
              -o -path '*/en-us/web/css/guides/flexible_box_layout/basic_concepts/index.md' \
              -o -path '*/en-us/web/css/guides/index.md' \
              -o -path '*/en-us/web/css/guides/selectors/index.md' \
              -o -path '*/en-us/web/css/guides/syntax/at-rule/index.md' \
              -o -path '*/en-us/web/css/how_to/how_to/layout_cookbook/card/index.md' \
              -o -path '*/en-us/web/css/how_to/layout_cookbook/center_an_element/index.md' \
              -o -path '*/en-us/web/css/how_to/layout_cookbook/column_layouts/index.md' \
              -o -path '*/en-us/web/css/modules/index.md' \
              -o -path '*/en-us/web/css/reference/at-rules/@container/index.md' \
              -o -path '*/en-us/web/css/reference/at-rules/index.md' \
              -o -path '*/en-us/web/css/reference/index.md' \
              -o -path '*/en-us/web/css/reference/properties/color/index.md' \
              -o -path '*/en-us/web/css/reference/properties/index.md' \
              -o -path '*/en-us/web/css/reference/selectors/index.md' \
              -o -path '*/en-us/web/css/reference/values/index.md' \
              -o -path '*/en-us/web/html/guides/cheatsheet/index.md' \
              -o -path '*/en-us/web/html/guides/date_and_time_formats/index.md' \
              -o -path '*/en-us/web/html/guides/index.md' \
              -o -path '*/en-us/web/html/guides/responsive_images/index.md' \
              -o -path '*/en-us/web/html/reference/attributes/index.md' \
              -o -path '*/en-us/web/html/reference/elements/index.md' \
              -o -path '*/en-us/web/html/reference/global_attributes/index.md' \
              -o -path '*/en-us/web/html/reference/index.md' \
              -o -path '*/en-us/web/html/responsive_images/index.md' \
              -o -path '*/en-us/web/javascript/guide/control_flow_and_error_handling/index.md' \
              -o -path '*/en-us/web/javascript/guide/index.md' \
              -o -path '*/en-us/web/javascript/guide/inheritance_and_the_prototype_chain/index.md' \
              -o -path '*/en-us/web/javascript/guide/loops_and_iteration/index.md' \
              -o -path '*/en-us/web/javascript/guide/using_classes/index.md' \
              -o -path '*/en-us/web/javascript/guide/working_with_objects/index.md' \
              -o -path '*/en-us/web/javascript/reference/functions/index.md' \
              -o -path '*/en-us/web/javascript/reference/global_objects/index.md' \
              -o -path '*/en-us/web/javascript/reference/global_objects/temporal/index.md' \
              -o -path '*/en-us/web/javascript/reference/index.md' \
              -o -path '*/en-us/web/javascript/reference/operators/index.md' \
              -o -path '*/en-us/web/javascript/reference/statements/index.md' \
              -o -path '*/en-us/web/performance/index.md' \
            >> "$FILE_LIST"

            FILE_LIST="--file-list $FILE_LIST"
          else
            # Full build.
            FILE_LIST=""

            # Build French, but not other locales.
            ignore_locales='es ja ko pt-br ru zh-cn zh-tw'
            for locale in $ignore_locales
            do
              rm -rf $CONTENT_TRANSLATED_ROOT/$locale
            done
          fi

          npm run rari build -- --all $FILE_LIST --templ-stats

      - name: Render (fred)
        working-directory: mdn/fred
        run: npm run ssr

      - name: Set artifact name
        id: set-artifact-name
        run: echo "name=build-output" >> $GITHUB_OUTPUT

      - name: Upload build output
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ steps.set-artifact-name.outputs.name }}
          path: ${{ env.BUILD_OUT_ROOT }}
          retention-days: 1
