name: Main Review Companion

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read
  # See: _deploy.yml
  id-token: write
  # See: _deploy.yml
  actions: read

jobs:
  build:
    if: github.repository_owner == 'mdn' && (github.event_name == 'schedule' || github.actor != 'dependabot[bot]')
    uses: ./.github/workflows/_build.yml
    secrets: inherit
    with:
      partial: false

  deploy:
    needs: build
    if: github.repository_owner == 'mdn' && (github.event_name == 'schedule' || github.actor != 'dependabot[bot]')
    uses: ./.github/workflows/_deploy.yml
    secrets: inherit
    with:
      prefix: fred
      build-artifact-name: ${{ needs.build.outputs.artifact-name }}
