name: NPM Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write # OIDC for npm Trusted Publishing

jobs:
  build:
    if: github.repository == 'mdn/fred' && github.secret_source == 'Actions'
    runs-on: ubuntu-latest

    steps:
      - name: Release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
          token: ${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        if: steps.release.outputs.release_created
        with:
          persist-credentials: false

      - name: Setup
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        if: steps.release.outputs.release_created
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"
          package-manager-cache: false

      # Ensure npm 11.5.1 or later for trusted publishing
      - name: Install latest npm
        if: steps.release.outputs.release_created
        run: npm install -g npm@latest

      - name: Install
        if: steps.release.outputs.release_created
        run: npm ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        if: steps.release.outputs.release_created
        run: npm publish --access public --provenance
        env:
          FRED_RUNTIME_ENV: true
          # TODO: probably want to disable this, but it doesn't seem to work in content at the moment:
          FRED_LEGACY: true
