name: PR Build

on:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    if: github.repository_owner == 'mdn' && github.event.pull_request.user.login != 'dependabot[bot]'
    uses: ./.github/workflows/_build.yml
    secrets: inherit
    with:
      partial: true
