name: Test

on:
  push:
    branches:
      - main
  pull_request:

# No GITHUB_TOKEN permissions, as we only use it to increase API limit.
permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: ".nvmrc"

      - name: Install
        run: npm ci
        env:
          # Increase GitHub API limit.
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run prettier
        run: npx prettier --check . || (exit_code=$? && npx prettier --write . && git diff --color && exit $exit_code)

      - name: Run ESLint
        run: npx eslint .

      - name: Run lit-analyzer
        run: npm run lit-analyzer -- components

      - name: Run stylelint
        run: npx stylelint '**/*.css' || (exit_code=$? && (npx stylelint --fix '**/*.css' || true) && git diff --color && exit $exit_code)

      - name: Run tsc
        run: npx tsc --noEmit

      - name: Lint l10n strings
        run: npm run l10n -- --lint

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: fred

    steps:
      - name: Checkout (fred)
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: fred
          persist-credentials: false

      - name: Checkout (content)
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: mdn/content
          path: content
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: "fred/.nvmrc"
          cache-dependency-path: "fred/package-lock.json"

      - name: Install
        run: npm ci
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build
        run: npm run build

      - name: Run
        env:
          CONTENT_ROOT: ../content/files
          GITHUB_TOKEN: ${{ github.token }}
        run: node scripts/tests.js
