name: Update menu

on:
  workflow_dispatch:

  schedule:
    - cron: "30 4 * * 1-5"

  push:
    branches:
      - update-menu-workflow

permissions: {} # No GITHUB_TOKEN permissions, because we use MDN_BOT_PAT instead.

jobs:
  update:
    if: github.repository == 'mdn/fred'
    name: Update missing docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          ref: main

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          package-manager-cache: false

      - name: Install
        run: npm ci
        env:
          # Increase GitHub API limit.
          GITHUB_TOKEN: ${{ github.token }}

      - name: Update
        id: update
        run: |
          node components/menu/update-missing-docs.js

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.MDN_BOT_PAT }}
          commit-message: "chore(menu): update missing docs"
          author: mdn-bot <108879845+mdn-bot@users.noreply.github.com>
          committer: mdn-bot <108879845+mdn-bot@users.noreply.github.com>
          signoff: false
          branch: update-menu
          delete-branch: true
          add-paths: components/menu/missing-docs.json
          title: "chore(menu): update missing docs"
          body: (This PR was generated by [this run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}) of the [`${{ github.workflow }}`](https://github.com/${{ github.repository }}/blob/${{ github.ref_name }}/.github/workflows/update-menu.yml) workflow.)
          draft: false
